exportPattern("^[[:alpha:]]+")
importFrom("methods", "is")
importFrom("stats", "lm", "sd")
importFrom("utils", "read.csv", "setTxtProgressBar", "txtProgressBar","write.csv","View")
import("ggplot2")
import("signal")
importFrom("pracma","polyfit")
import("rsq")
